src/wsdl/www.uid-wse-a.admin.ch/V3.0/PublicServices.svc.xsd_xsd11.xsd

<?xml version="1.0" encoding="utf-8"?><xs:schema elementFormDefault="qualified" targetNamespace="http://www.bit.admin.ch/xmlns/uid-wse-f/3" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://www.bit.admin.ch/xmlns/uid-wse-f/3"><xs:import schemaLocation="https://www.uid-wse-a.admin.ch/V3.0/PublicServices.svc?xsd=xsd1" namespace="http://www.ech.ch/xmlns/eCH-0108-f/3"/><xs:complexType name="ratedOrganisation"><xs:sequence><xs:element minOccurs="0" maxOccurs="1" name="organisation" type="q1:organisationType" xmlns:q1="http://www.ech.ch/xmlns/eCH-0108-f/3"/><xs:element minOccurs="0" maxOccurs="1" name="rating" type="xs:int"/></xs:sequence></xs:complexType></xs:schema>