src/wsdl/www.uid-wse-a.admin.ch/V3.0/PublicServices.svc.xsd_xsd10.xsd

<?xml version="1.0" encoding="utf-8"?><xs:schema elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/CH.Admin.BIT.UID.PublicWebService" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://schemas.datacontract.org/2004/07/CH.Admin.BIT.UID.PublicWebService"><xs:complexType name="SecurityFault"><xs:sequence><xs:element minOccurs="0" name="Error" nillable="true" type="xs:string"/><xs:element minOccurs="0" name="ErrorDetail" nillable="true" type="xs:string"/><xs:element minOccurs="0" name="Operation" nillable="true" type="xs:string"/></xs:sequence></xs:complexType><xs:element name="SecurityFault" nillable="true" type="tns:SecurityFault"/><xs:complexType name="BusinessFault"><xs:sequence><xs:element minOccurs="0" name="Error" nillable="true" type="xs:string"/><xs:element minOccurs="0" name="ErrorDetail" nillable="true" type="xs:string"/><xs:element minOccurs="0" name="Operation" nillable="true" type="xs:string"/></xs:sequence></xs:complexType><xs:element name="BusinessFault" nillable="true" type="tns:BusinessFault"/><xs:complexType name="InfrastructureFault"><xs:sequence><xs:element minOccurs="0" name="Error" nillable="true" type="xs:string"/><xs:element minOccurs="0" name="ErrorDetail" nillable="true" type="xs:string"/><xs:element minOccurs="0" name="Operation" nillable="true" type="xs:string"/></xs:sequence></xs:complexType><xs:element name="InfrastructureFault" nillable="true" type="tns:InfrastructureFault"/></xs:schema>